<script type="text/x-handlebars" data-template-name='list'>
    {{#view App.ListItemsView contentBinding="App.mapView.eventsMarkersView.content"}}
    {{/view}}
    
    {{#view App.ListItemsView contentBinding="App.mapView.newsMarkersView.content"}}
    {{/view}}
    
    {{#view App.ListItemsView contentBinding="App.mapView.startupsMarkersView.content"}}
    {{/view}}
    
    {{#view App.ListItemsView contentBinding="App.mapView.jobsMarkersView.content"}}
    {{/view}}
</script>

<script type="text/x-handlebars" data-template-name='list-item'>
  {{#with view.content}}
    <span>{{title}}</span>
    <p>{{description}}</p>
  {{/with}}
</script>